<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Image url:</strong>
  <img src="<%= @game.image_url %>">
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<% purchase = current_user.purchases.where(game: @game).first %>
<% if purchase %>
  <button class="btn btn-success btn-purchase" data-purchase-id="<%= purchase.id %>" data-game-id="<%= @game.id %>">
    Return
  </button>
<% else %>
  <button class="btn btn-primary btn-purchase" data-game-id="<%= @game.id %>">
    Buy
  </button>
<% end %>
